
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Layouts/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Order List</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                        <th>
                            #ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Date
                        </th>
                        <th class="text-right">
                            Action
                        </th>

                        </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    0901
                                </td>
                                <td>
                                    Marvin McKinney
                                </td>
                                <td>
                                    marvin@example.com
                                </td>
                                <td>
                                    $46,73
                                </td>
                                <td>
                                  <span class="alert alert-warning-2">
                                    Pending
                                   </span>
                                </td>
                                <td>
                                    03.02.2021
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-primary btn-round-2">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2323
                                </td>
                                <td>
                                    Leslie Alexander
                                </td>
                                <td>
                                    leslie@example.com
                                </td>
                                <td>
                                    $23,78
                                </td>
                                <td>
                                    <span class="alert alert-warning-2">
                                        Pending
                                    </span>
                                </td>
                                <td>
                                    21.02.2021
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-primary btn-round-2">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1024
                                </td>
                                <td>
                                    Esther Howard
                                </td>
                                <td>
                                    esther@example.com
                                </td>
                                <td>
                                    $123
                                </td>
                                <td>
                                    <span class="alert alert-danger-2">
                                        Canceled
                                    </span>
                                </td>
                                <td>
                                    04.07.2021
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-primary btn-round-2">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4572
                                </td>
                                <td>
                                    Jenny Wilson
                                </td>
                                <td>
                                    jenny@example.com
                                </td>
                                <td>
                                    $421
                                </td>
                                <td>
                                    <span class="alert alert-success-2">
                                        Received
                                    </span>
                                </td>
                                <td>
                                    22.05.2021
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-primary btn-round-2">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4572
                                </td>
                                <td>
                                    Marvin McKinney
                                </td>
                                <td>
                                    marvin@example.com
                                </td>
                                <td>
                                    $43
                                </td>
                                <td>
                                    <span class="alert alert-success-2">
                                        Received
                                    </span>
                                </td>
                                <td>
                                    15.04.2021
                                </td>
                                <td class="text-right">
                                    <button type="submit" class="btn btn-primary btn-round-2">Details</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

