
@{
    ViewBag.Title = "Account";
}

<div class="container rounded bg-white my-5 mx-auto">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-md-5 py-sm-0">
                <img class="rounded-circle mt-md-5 mt-sm-0" src="" style="width: 150px; height: 150px; background-image: url(https://images.unsplash.com/photo-1512101176959-c557f3516787?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); background-size: cover; background-position: center center; ">
                <span class="font-weight-bold mt-2">Eva</span>
                <span class="text-black-50">user-email@example.com</span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control mb-2" placeholder="First name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control mb-2" value="" placeholder="Surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control mb-2" placeholder="Enter email" value=""></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control mb-2" placeholder="Enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control mb-2" placeholder="Enter address" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control mb-2" placeholder="Country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control mb-2" value="" placeholder="State"></div>
                </div>
                <div class="flex-c-m mt-3 text-center"><button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" type="button">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>
