@{
    ViewBag.Title = "Account";
}

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="mask d-flex h-100 gradient-custom-3">
                <div class="size-210 p-lr-15-lg w-full-md">
                    <form>
                        <div class="row mt-1">
                            <div class="col">
                                <h4 class="mtext-105 cl2 p-b-30">
                                    Profile Settings
                                </h4>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Name</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Enter name">
                            </div>
                            <div class="col-md-6">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Surname</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Enter surname">
                            </div>
                            <div class="col-md-12">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Email</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Enter email">
                            </div>
                            <div class="col-md-12">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Mobile</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Enter phone number">
                            </div>
                            <div class="col-md-12">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Address</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Enter address">
                            </div>

                            <div class="col-md-6">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">Country</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="Country">
                            </div>
                            <div class="col-md-6">
                                <label class="mtext-102 cl2 plh3 p-l-5 p-r-20">State/Region</label>
                                <input class="stext-117 cl2 plh3 p-l-8 p-r-20" type="text" name="email" placeholder="State">
                            </div>
                            <div class="mt-3 p-l-17">
                            <a href="/" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" type="button">Save Profile</a>
                            </div>
                        </div>

                        <!----
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control mb-2" placeholder="Enter email" value=""></div>
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control mb-2" placeholder="Enter phone number" value=""></div>
                            <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control mb-2" placeholder="Enter address" value=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control mb-2" placeholder="Country" value=""></div>
                            <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control mb-2" value="" placeholder="State"></div>
                        </div>
                       -->
                        
                    </form>
            </div>
            </div>
        </div>
    </section>
</body>