<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <link rel="icon" href="~/Content/images/favicon.ico">

        <a href="/admin/dashboard"    class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="~/Content/images/favicon.ico" />
            </div>
        </a>
         
        <a href="/admin/dashboard"class="simple-text logo-normal">
                Sport Wish
        </a>
     
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">

                <a href="/admin/dashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>


            <li>
                <a href="/admin/notifications">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li>
                <a href="/admin/userProfile">
                    <i class="nc-icon nc-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="/admin/orders">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Order List</p>
                </a>
            </li>
            <li>
                <a href="/admin/addProduct">
                    <i class="nc-icon nc-app"></i>
                    <p>Add product</p>
                </a>
            </li>
            <li>
                <a href="/admin/editProduct">
                    <i class="nc-icon nc-box-2"></i>
                    <p>Edit product</p>
                </a>
            </li>

        </ul>
    </div>
</div>