
@{
    ViewBag.Title = "About";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Content/images/bg_01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Consumers are more health-conscious than ever. Sports and general fitness trends continue to influence the sporting-goods market, as companies offer new digital forms of exercise to match evolving consumer needs. At the same time, a growing focus on sustainability has had a major impact on companies' capacity for innovation as they seek to differentiate their offerings.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Our sport e-commerce of branded clothing and footwear was created with the aim of making it easier to find comfortable clothes online. It will also be easy to order any item from our website. Please note that shipping is free on orders over $100.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Have a nice shopping!
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/images/about_01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
