@{
    ViewBag.Title = "Sale";
}


<section class="sale_scroll_section">
    <div class="sale_scroll">
        <div>ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%</div>
        <div>ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%ㅤㅤㅤㅤㅤSPORT Wish <span>Sales</span> 10% 20% 30% up to 75%</div>
    </div>
</section>

<div style="display:flex; height:auto;">
    <div class="block2-pic hov-img0" style="width: 50%; height: auto; background-image: url('/Content/images/sale_01.jpg'); background-repeat: no-repeat; background-size: cover;"><h2 style="text-align:center; padding-top: 16em; padding-bottom:1em;"><a href="#" class="for_him_btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">For Him</a></h2></div>
    <div class="block2-pic hov-img0" style="width: 50%; height: auto; background-image: url('/Content/images/sale_02.jpg'); background-repeat: no-repeat; background-size: cover;"><h2 style="text-align:center; padding-top: 16em; padding-bottom:1em;"><a href="#" class="for_her_btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">For Her</a></h2></div>
</div>

<h1 style="color: black; text-align: center; font-size: 4em; font-family: Montserrat; margin-top: 1em; margin-bottom: 1em">Best Sales</h1>

<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="margin-left: 3em;">
    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
        All Products
    </button>

    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
        Women
    </button>

    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
        Men
    </button>

</div><div style="display:flex; height:auto; margin-bottom: 0.7em;">
    <div style="width: 20%; margin: 0 2.5%; height:auto; background-image: url('/Content/images/sale_03.jpg'); background-repeat:no-repeat; background-size:cover; "><h2 style="text-align:center; padding-top: 9em; padding-bottom:1em;"></h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; background-image: url('/Content/images/sale_04.jpg'); background-repeat: no-repeat; background-size: cover;"><h2 style="text-align:center; padding-top: 9em; padding-bottom:1em;"></h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; background-image: url('/Content/images/sale_05.jpg'); background-repeat: no-repeat; background-size: cover; "><h2 style="text-align:center; padding-top: 9em; padding-bottom:1em;"></h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; background-image: url('/Content/images/sale_06.jpg'); background-repeat: no-repeat; background-size: cover;"><h2 style="text-align:center; padding-top: 9em; padding-bottom:1em;"></h2></div>
</div>
<div style="display:flex; height:auto; margin-bottom: 1em;">
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.1em; color: black"> Product 1</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.1em; color: black"> Product 2</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.1em; color: black"> Product 3</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.1em; color: black"> Product 4</h2></div>
</div>
<div style="display:flex; height:auto; margin-bottom: 3em;">
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.2em; color: darkred"><s style="color: darkgray">89$</s> 73$</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.2em; color: darkred"><s style="color: darkgray">92$</s> 79$</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.2em; color: darkred"><s style="color: darkgray">109$</s> 96$</h2></div>
    <div style="width: 20%; margin: 0 2.5%; height: auto; "><h2 style="font-size: 1.2em; color: darkred"><s style="color: darkgray">80$</s> 69$</h2></div>
</div>
<div class="flex-c-m flex-w w-full p-t-45" style="margin-bottom: 5em;">
    <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
    </a>
</div>